

*{
	/*margin : 0px;*/
}

body{
	/*background-color: #fdfdfd;
	background-image: url("gambar/flat.jpg"); 
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:*/ 
	background: #fdfdfd url("gambar/flat.jpg") no-repeat fixed right;
}

h1{
	color:blue;
	text-align:center;
	text-decoration:underline;
	display:inline;
}
h2 {
	text-align:center;
	text-transform:uppercase;
	display:inline;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#text_panjang {
	text-align:justify;
	text-indent:30px;
	letter-spacing:5px;
	line-height:20px;
	word-spacing:5px;
}

#text_pendek {
	font-size:24px;
	font-family:sans-serif;
	font-weight: bold;
	background:yellow;
	width: 50%;
	height : 200px;
	max-width: 40%;
	max-height:100px;
	/*visibility:hidden;*/
	display:none;
}

#menu_wrap {
	margin : 10px 0 50px 0;
	/*margin : top right bottom left;*/
}
.menu{
	display:inline-block;
	/*height:50px;
	width:100px;*/
	text-decoration:none;
	/*border-width:3px;
	border-style: solid;
	border-color:black;*/
	border : 3px solid black;
	padding : 10px 5px;
}

/*kondisi biasa*/
.menu:link{
	background:white;
	color:black;
}

/*kondisi setelah dikunjungi*/
.menu:visited{
	background:white;
	color:black;
}

/*kondisi mouse berada diatas*/
.menu:hover{
	background:grey;
}

/*kondisi sedang diklkik*/
.menu:active{
	background:white;
}

/* mengatur posisi di css*/
/* static, relativ, absolute, fixed*/
/*
#menu_member {
	position:absolute;
	top : 70px;
	left : 20px;
}

#parent_h1 {
	position:relative;
	top:100px; 
}

#parent_h2{
	 position:relative;
	 top:100px;
}

#h2_member{
	background:yellow;
	position:fixed;
	top : 40px;
	left:20px;
	z-index:-2;
}

#h1_member {
	background:red;
	position:absolute;
	top : 100px;
	left:20px;
	z-index:-1;
}*/

table{
	float:right;
	margin-right:20px;
}

#ul_1 {
	float:left;
	margin-right:20 px;
}

#div_baru {
	clear:both;
}

ul,ol,dl {
	float:left;
	margin : 0px;
	padding : 0 px;
	width : 33.33 %;	
}

#copyright {
	clear:both;
	text-align:center;
}

/*halaman kontak*/

h1,h2 {
	color:grey;
}

div a {
	background : yellow;
	
}

/*langsung dibawah parentnya*/

div >a {
	background : yellow;
}

/*setelah elemen*/

p + div {
	background:aqua;
}

/*semua bagian yang ada dibawahnya*/

div ~ p {
	background:red;
}

/*
Hover
keadaan ketika mouse berada ada elemen tertentu
1. diri sendiri
2. elemen lain :
 > langsung didalam
 +langsung setelah
 (space) berada disuatu tempat (dalam container)
*/

h1:hover{
	color:black;
}

h1:hover+h2{
	color:black;
}

/*
Focus
keadaan ketika input di klik
*/
 
input:focus, textarea:focus {
	background:yellow;
}














